body {
    text-align: center;
    background:black; 
}
.main-container{
	width:300px;
}
#score,#Leader{
	color:white;
	font-size: 22px;
}
canvas{
	position: relative;
}
.back{
	position: absolute;
	left:45%;
	transform: translateX(-50%);
	margin-top: -35px;
}
.players{
	display:inline-block;
}
.players ul li {
	margin:0px;
	margin-top:-68px;
	margin-left:-40px;
}
